<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Modal title</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <h4>Are you sure you want to leave the game?</h4>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Back to the game</button>
            <a class="btn btn-danger" onclick="playerGivesUp();"
               th:href="@{../{active}/quit(active=${active})}">Leave the game</a>
        </div>
    </div>
</div>